<mat-toolbar>
  <span>Cognizant Challenge</span>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="playerName">
    <mat-error *ngIf="submitted && form.controls.playerName.errors">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mt-4 mb-4">
    <mat-label>Solution Code</mat-label>
    <textarea matInput formControlName="solutionCode" [(ngModel)]="defaultCode">
    </textarea>
    <mat-error *ngIf="submitted && form.controls.solutionCode.errors">
      Solution code is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="loading" color="primary">
    Submit
    <mat-icon *ngIf="loading"><mat-spinner diameter="20">
    </mat-spinner></mat-icon>
  </button>

</form>

<div *ngIf="error" class="alert alert-danger m-4">
  Error: {{error.message}}
</div>

<div *ngIf="output" class="alert alert-info m-4">
  Output: {{output}}
</div>
